/.idea/
/spring-multimodule-tutorial.iml
/traveller/traveller.iml
/itenary/itenary.iml

common-definitions/target
core-api/target
core-model/target
core-module/target
infra-module/target
/management/target
sys-intf-module/target
rest-module/target