/.idea/

/common-definitions/target/
/core-api/target/
/core-model/target/
/core-module/target/
/infra-module/target/
/management/target/
/sys-intf-module/target/
/rest-module/target/
/localization-module/target/
/data-access/target/
